.about {
    width: calc(100% - 200px);
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

@media screen and (max-width: 1280px) {
    .about {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }
}

@media screen and (max-width: 900px) {
    .about {
        width: calc(100% - 40px);
        padding: 30px 20px;
        flex-direction: column;
    }
}