.footer__part {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

@media screen and (max-width: 1000px) {
    .footer__part {
        width: 100%;
        align-items: center;
    }
}

