.footer__text {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Mulish, Mulish, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3;
    text-decoration: none;
    color: white;
}

.footer__text:hover {
    cursor: pointer;
}