.footer__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Mulish, Mulish, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.5;
    color: white;
}