.header__menu {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5,auto);
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .header__menu {
        display: none;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
    }
}