.left-column__point {
    padding: 5px;
    width: calc(80% - 25px);
    height: fit-content;
    border: #1580EB solid 2px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
            'photo name'
            'photo work';
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(2,auto);
    margin-bottom: 15px;
    align-items: center;
    gap: 15px
}

.left-column__point:hover {
    scale: 1.03;
}